.page {
    position: relative;
    transition: all 1s;
    height: 100vh;
    width: 150vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin-top: 0.5rem;
}

@media (max-aspect-ratio: 3/2) {
    .page {
        height: 64vw;
        width: 96vw;
    }
}