.page {
    position: relative;
    transition: all 1s;
    height: 100vh;
    width: 150vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin-top: 0.5rem;
}

@media (max-aspect-ratio: 3/2) {
    .page {
        height: 64vw;
        width: 96vw;
    }
}

.module-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.module {
    border: 3px solid;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card {
    border: 1px solid white;
    border-radius: 1rem;
}